
/* ---- INICIA @media screen and (min-width: 420px)
*/

@media screen and (min-width: 420px) {
  #footer-logo .div-dante-services .section-dante-services .h5-footer, .h5b-footer{
      max-width: 230px;
      /*font-size: .8em; /**/

  }
}

/* ---- FINALIZA @media screen and (min-width: 420px)
*/


/* ---- INICIA VACIO @media screen and (min-width: 620px)
*/
@media screen and (min-width: 620px) {
     
}
/* ---- FINALIZA @media screen and (min-width: 620px)
*/


/* ---- INICIA @media screen and (min-width: 760px)
*/
@media screen and (min-width: 760px) {

  }

/*  --- finaliza circulo article: h2 Diseño web inteligente
*/
  
/*
*/

/*
----- finaliza figure e img de linux
*/


@media screen and (min-width: 1100px) {/*@media screen and (min-width: 1320px)*/

#footer-logo .div-dante-services{
height: 800px;
justify-content:space-around;
/*VISUALIZADOR*/
}

#footer-logo .h5-footer a {
color: white;
font-size: 1.3em;
text-decoration: none;
}

/*
*/

/* inicia h2 dante digital*/
#footer-logo .div-dante-services .section-dante-services {
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;/**/
  justify-content: space-between;/**/
  /*align-content:stretch;/**/
  /*background-color: aqua;/*visualozador*/
}
/* ------------------------- */

#footer-logo .div-dante-services .h2-footer {
max-width: 300px;
height:50px;

align-content: center;
text-align: center;
font-size: 1.7em;/**/
margin: .7rem .7rem;/**/
border: solid 1px white;/**/
border-radius: 9px;/**/
/*background-color: aqua;/*visualizador*/
background-color: rgba(29, 56, 67, 0.623);/**/
}

/* termina h2 dante digital*/



/* inica h5 soporte ti, android, web desing*/
#footer-logo .div-dante-services .section-dante-services .h5-footer {
display: flex;
align-items: center;
justify-content: center;

margin-right: 2em;

width: 35%;
height: 130px;
/*text-align: center;/**/
/*font-size: 1.1em; /**/ 
/*padding: 1.3rem .2rem .8rem .2rem;*/
border-radius: 100%;
border: solid 1px white;/**/
/*background-color: aqua;/*VISUALIZADOR*/
font-size: em;
}


#footer-logo .div-dante-services .section-dante-services .h5-footer a {
color: white;
text-decoration: none;
}
/* termina h5 soporte ti, android, web desing*/


}



@media screen and (min-width: 1200px) {/*@media screen and (min-width: 1320px)*/
  #footer-logo .div-dante-services .section-dante-services .h2-footer {
    max-width: 380px;/**/
    /*height:50px;/**/
    /*margin-left: 4.6rem;/**/
    /*align-content: center;/**/
    /*text-align: center;/**/
    font-size: 1.7em;/**/
    
    /*border-radius: 9px;/**/
    /*background-color: aqua;/**/
    }



}